Showing the latest <%= @games.length %> games out of <%= @games_count %>
<table border="0" cellspacing="5" cellpadding="5">
	<tr>
		<th>Attacker</th>
		<th>Defender</th>
		<th>Score</th>
		<th>Attacker</th>
		<th>Defender</th>
		<th>Score</th>
		<th>Date</th>
	</tr>
	<% for game in @games do %>
	<tr>
		<td><%= player_link(game.team_one_attacker) %></td>
		<td><%= player_link(game.team_one_defender) %></td>
		<td><%= game.team_one_score %></td>
		<td><%= player_link(game.team_two_attacker) %></td>
		<td><%= player_link(game.team_two_defender) %></td>
		<td><%= game.team_two_score %></td>
		<td><%= game.created_at_friendly %></td>
	</tr>
	<!-- <%= game.id %> -->
	<% end %>
</table>
<br/>
<a href="/games/new">Create New Game</a> | <a href="/games/another">Create Another</a><br/><br/>

<a href="/players">Player stats</a>